
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3">

                <div class="card card-primary card-outline ">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" style="border-radius:40%;" src="@ViewBag.profil.Resim.Kucukresimyol" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@ViewBag.profil.Ad @ViewBag.profil.Soyad </h3>

                        <p class="text-muted text-center">@ViewBag.profil.KullaniciAdi</p>

                        <ul class="list-group list-group-unbordered mb-3">

                            <li class="list-group-item">
                                <b>Eposta: </b> <a class="float-right">@ViewBag.profil.Eposta</a>
                            </li>
                        </ul>


                    </div>

                    <!-- /.card-body -->
                </div>

            </div>


            <div class="card card-primary col-9 col-md-9">
                <div class="card-header" style="background-color:white;">
                    <h3 class="card-title">Profilini Düzenle</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @using (Html.BeginForm("Index", "Kullanici", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group mt-2">
                        <label for="exampleInputEmail1" class="input__label">Ad</label>
                        <input type="text" class="form-control input-style" name="Ad" id="exampleInputEmail1" aria-describedby="emailHelp" value="@ViewBag.profil.Ad">
                        <small id="emailHelp" class="form-text text-muted">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="input__label">Soyad</label>
                        <input type="text" class="form-control input-style" name="Soyad" id="exampleInputEmail1" aria-describedby="emailHelp" value="@ViewBag.profil.Soyad">
                        <small id="emailHelp" class="form-text text-muted">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="input__label">Kullanıcı Adı</label>
                        <input type="text" class="form-control input-style" name="KullaniciAdi" id="exampleInputEmail1" aria-describedby="emailHelp" value="@ViewBag.profil.KullaniciAdi">
                        <small id="emailHelp" class="form-text text-muted">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="input__label">Eposta</label>
                        <input type="text" class="form-control input-style" name="Eposta" id="exampleInputEmail1" aria-describedby="emailHelp" value="@ViewBag.profil.Eposta">
                        <small id="emailHelp" class="form-text text-muted">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="input__label">Şifre</label>
                        <input type="password" class="form-control input-style" name="Sifre" id="exampleInputEmail1" aria-describedby="emailHelp" value="@ViewBag.profil.Sifre">
                        <small id="emailHelp" class="form-text text-muted">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="input__label">Şifre Tekrar</label>
                        <input type="password" class="form-control input-style" name="" id="exampleInputEmail1" aria-describedby="emailHelp" value="@ViewBag.profil.Sifre">
                        <small id="emailHelp" class="form-text text-muted">
                        </small>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="exampleInputFile" class="input__label">Profi Resmini Seç </label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-control" name="Resimg" id="exampleInputFile" value="" />
                                <label class="" for="exampleInputFile"></label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-style mt-1 mb-2">Kaydet</button>

                }
            </div>





        </div>
    </div>

